<%- include('layout.ejs'); %>


    <html>
    <style>
        a {
            padding: 20;
            margin: 150;
        }

        h5 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: aliceblue;
        }
    </style>

    <div class="container">

        <br><br><br><br>
        <center>
            <h5>My name is <%= user.name %> I am a student of SE6B</h5>
        </center> &nbsp;
        <center>
            <h5>Currently we are working on a project of web engineeinrg </h5>
        </center> <br>

    </div>
    <div>
        <br><br>
        <a href="/login"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button>
        </a>
        <a href="/register"> <button type="submit"
                class="btn btn-primary btn-lg btn-block register-button">Register</button> </a>
    </div>
    </body>

    </html>