<%- include('layout.ejs'); %>


    <div class="container">
        <div class="row justify-content-center">
            <h5>My name is <%= user.name %> I am a student of SE6B</h5> &nbsp;
            <h5>I stay at Pakistan </h5> <br>
        </div>
    </div>
    <div>
        <a href="/login"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button>
        </a>
        <a href="/register"> <button type="submit"
                class="btn btn-primary btn-lg btn-block register-button">Register</button> </a>
    </div>
    </body>

    </html>